body div {
  box-sizing: border-box;
}
body textarea {
  border: none;
  resize: none;
}
body textarea:focus {
  outline: 0rem;
}
body textarea::-webkit-input-placeholder {
  color: #AFBDC2;
}
body textarea::-moz-placeholder {
  color: #AFBDC2;
}
body textarea:-moz-placeholder {
  color: #AFBDC2;
}
body textarea:-ms-input-placeholder {
  color: #AFBDC2;
}
body .p-contain {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(./img/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content {
  flex-grow: 1;
  height: 100%;
  padding: 0.8333333333rem 0rem 0.8333333333rem 1.6666666667rem;
}
body .p-contain .p-content .p-logo {
  display: flex;
  align-items: center;
}
body .p-contain .p-content .p-logo .p-logo1 {
  width: 5rem;
  height: 5rem;
  background-image: url(./img/logo1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-logo .p-logo2 {
  width: 12.1666666667rem;
  height: 3.7916666667rem;
  margin-left: 0.9583333333rem;
  background-image: url(./img/logo2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-action {
  display: flex;
  width: 5rem;
  height: calc(100% - 6rem);
  margin-top: 0.8333333333rem;
  background-color: #232c38;
  border-radius: 2.5rem;
}
body .p-contain .p-content .p-action .p-tool-classify {
  flex-shrink: 0;
  width: 5rem;
  height: 100%;
  border-top: 2.5rem solid #232c38;
  border-bottom: 2.5rem solid #232c38;
  border-radius: 2.5rem;
  font-size: 0.5833333333rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #bfc6d4;
  line-height: 1.0416666667rem;
  overflow-y: scroll;
}
body .p-contain .p-content .p-action .p-tool-classify::-webkit-scrollbar {
  display: none;
}
body .p-contain .p-content .p-action .p-tool-classify .ptc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8333333333rem;
  cursor: pointer;
}
body .p-contain .p-content .p-action .p-tool-classify .ptc-item .ptc-item-img {
  width: 1.9166666667rem;
  height: auto;
}
body .p-contain .p-content .p-action .p-tool-classify .ptc-item .ptc-item-text {
  margin-top: 0.5rem;
  white-space: nowrap;
}
body .p-contain .p-content .p-action .p-tool-classify .ptc-item .isActive {
  color: #38b0e0;
}
body .p-contain .p-content .p-action .p-tool-list {
  flex-shrink: 0;
  width: 7.5rem;
  height: 100%;
  padding: 0 0.875rem;
  border-top: 0.9583333333rem solid #ffffff;
  border-bottom: 0.9583333333rem solid #ffffff;
  margin-left: 0.625rem;
  background: #ffffff;
  box-shadow: 0rem 0.125rem 0.6666666667rem -0.25rem rgba(83, 108, 140, 0.5);
  border-radius: 2.5rem;
  font-size: 0.5833333333rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  line-height: 0.8333333333rem;
  overflow-y: scroll;
}
body .p-contain .p-content .p-action .p-tool-list::-webkit-scrollbar {
  display: none;
}
body .p-contain .p-content .p-action .p-tool-list .p-tool-item {
  width: 5.75rem;
  margin-top: 0.125rem;
  margin-bottom: 0.5416666667rem;
  background: #fbfbfc;
  border-radius: 0.8333333333rem;
  border: 0.0416666667rem solid rgba(0, 0, 0, 0);
  cursor: pointer;
  overflow: hidden;
}
body .p-contain .p-content .p-action .p-tool-list .p-tool-item .p-tool-sub-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}
body .p-contain .p-content .p-action .p-tool-list .p-tool-item .p-tool-sub-item .p-tool-item-img {
  width: 100%;
  height: auto;
}
body .p-contain .p-content .p-action .p-tool-list .p-tool-item .p-tool-sub-item .p-tool-item-text {
  width: 100%;
  height: 0.8333333333rem;
  margin-top: auto;
  white-space: nowrap;
  text-align: center;
}
body .p-contain .p-content .p-action .p-tool-list .is-selected {
  border: 0.0416666667rem solid #38b0e0;
}
body .p-contain .p-content .p-action .p-tool-list .is-selected .p-tool-sub-item {
  opacity: 1;
}
body .p-contain .p-content .p-action .p-sub-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain {
  position: relative;
  width: 17.0833333333rem;
  height: 11.25rem;
  background-image: url(./img/des_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-title {
  position: absolute;
  top: 12%;
  left: 20%;
  font-size: 1rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #11AFEE;
  line-height: 1.375rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-desc {
  position: absolute;
  top: 27%;
  left: 20%;
  width: 67%;
  height: 46%;
  overflow: hidden;
  font-size: 0.75rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #0e6283;
  line-height: 1.125rem;
  overflow-y: scroll;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-button {
  position: absolute;
  left: 30%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5833333333rem;
  height: 1.5833333333rem;
  background: #49C2F2;
  border-radius: 0.875rem;
  cursor: pointer;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-button .p-button-img {
  width: 1.0416666667rem;
  height: 0.7916666667rem;
  background-image: url(./img/study.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-button .p-button-text {
  height: 1.1666666667rem;
  margin-left: 0.25rem;
  font-size: 0.8333333333rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 1.1666666667rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain {
  position: absolute;
  top: 1.125rem;
  left: 105%;
  width: 33.3333333333rem;
  height: 32.0833333333rem;
  padding: 0 1.6666666667rem 1.6666666667rem 1.6666666667rem;
  background: #EAF4FB;
  box-shadow: 0rem 0.0833333333rem 2.25rem -0.25rem rgba(74, 100, 133, 0.51);
  border-radius: 1.6666666667rem;
  z-index: 99;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain .p-tip-top {
  display: flex;
  justify-content: space-between;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain .p-tip-top .p-tip-top-notes {
  width: 2.5416666667rem;
  height: 0.75rem;
  margin-top: 1.4583333333rem;
  background-image: url(./img/notes.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain .p-tip-top .p-tip-top-clip {
  width: 3.875rem;
  height: 4.0416666667rem;
  margin-top: 0.4166666667rem;
  background-image: url(./img/clip.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain .p-tip-top .p-tip-top-close {
  width: 0.9166666667rem;
  height: 0.9166666667rem;
  margin-top: 1.125rem;
  background-image: url(./img/close.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;
  transform: translateX(0.8333333333rem);
  cursor: pointer;
}
body .p-contain .p-content .p-action .p-sub-contain .p-desc-contain .p-tip-contain .p-tip-top .p-tip-top-text {
  position: absolute;
  top: 12%;
  left: 9%;
  width: 27.5rem;
  height: 25.8333333333rem;
  padding: 2.0833333333rem 0.8333333333rem 0.7083333333rem 0.8333333333rem;
  background-image: url(./img/tip_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.75rem;
  font-family: HannotateSC-W5, HannotateSC;
  font-weight: normal;
  color: #0E6283;
  line-height: 1.125rem;
  overflow-y: scroll;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 15.5rem;
  padding: 0.8333333333rem;
  margin-left: 1.25rem;
  background: #ffffff;
  box-shadow: 0rem 0.125rem 0.6666666667rem -0.25rem rgba(83, 108, 140, 0.5);
  border-radius: 2.5rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 5.8333333333rem;
  padding: 1.25rem 0.8333333333rem 0.4166666667rem 0.8333333333rem;
  background: #f3f5f7;
  border-radius: 1.6666666667rem 1.6666666667rem 0.6666666667rem 0.6666666667rem;
  border: 0.0833333333rem solid #38b0e0;
  font-size: 0.75rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #0e6283;
  line-height: 1.0416666667rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection .p-select-title {
  flex-shrink: 0;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection .p-select-list {
  width: 100%;
  overflow-y: scroll;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection .p-select-list .p-select-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection .p-select-list .p-select-item .p-select-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-selection .p-select-list .p-select-item .p-select-icon {
  width: 0.9166666667rem;
  height: 0.6666666667rem;
  margin-left: 0.6666666667rem;
  background-image: url(./img/select.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-textarea {
  width: 88%;
  height: 5.8333333333rem;
  padding: 0.8333333333rem;
  margin-top: 0.5rem;
  background: #f3f5f7;
  border-radius: 0.6666666667rem;
  font-size: 0.75rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #434B5C;
  line-height: 1.0416666667rem;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-voice {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.4166666667rem;
  background-image: url(./img/yuyin.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .p-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2083333333rem;
  margin-top: 0.4166666667rem;
  background-image: url(./img/button_a.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.8333333333rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #19202e;
  line-height: 1.1666666667rem;
  cursor: pointer;
}
body .p-contain .p-content .p-action .p-sub-contain .p-action-contain .is-drawing {
  background-image: url(./img/button.png);
}
body .p-contain .p-res-content {
  position: relative;
  width: 48.9166666667rem;
  height: 100%;
  background-image: url(./img/painting.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-paper {
  position: absolute;
  top: 26%;
  left: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.9583333333rem;
  height: 60%;
  background-image: url(./img/paper.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 3.9583333333rem;
  overflow: hidden;
}
body .p-contain .p-res-content .p-paper .p-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .p-contain .p-res-content .p-paper .p-loading .p-loading-img {
  width: 3.75rem;
  height: 3.75rem;
  background-image: url(./img/add.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-paper .p-loading .p-loading-text {
  margin-top: 1.125rem;
  font-size: 1.25rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #7DA3BE;
  line-height: 1.75rem;
}
body .p-contain .p-res-content .p-paper .p-img-content {
  position: absolute;
  top: 3%;
  left: 5%;
  display: flex;
  align-items: center;
  width: 90%;
  height: 94%;
  z-index: 99;
}
body .p-contain .p-res-content .p-paper .p-img-content .el-image {
  width: 100%;
  height: 100%;
}
body .p-contain .p-res-content .p-paper .p-img-content .el-image .el-image__inner {
  object-fit: contain;
}
body .p-contain .p-res-content .p-paper .p-img-content .p-img-group {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  border-radius: 3.9583333333rem;
  overflow: hidden;
}
body .p-contain .p-res-content .p-paper .p-img-content .p-img-group .el-image {
  width: 100%;
  border-radius: 0;
}
body .p-contain .p-res-content .p-paper-nobg {
  background-image: url();
  border-radius: 0;
}
body .p-contain .p-res-content .p-color-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 8%;
  width: 2.0833333333rem;
}
body .p-contain .p-res-content .p-color-contain .p-color-text {
  margin-bottom: 1.0416666667rem;
  font-size: 0.75rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #A9B1BC;
  line-height: 1.0416666667rem;
  white-space: nowrap;
}
body .p-contain .p-res-content .p-color-contain .p-color-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.0833333333rem;
  height: 2.0833333333rem;
  margin: 1.0416666667rem 0;
  cursor: pointer;
}
body .p-contain .p-res-content .p-color-contain .p-white {
  background-image: url(./img/c_white.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-color-contain .p-blue {
  background-image: url(./img/c_blue.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-color-contain .p-yellow {
  background-image: url(./img/c_yellow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-color-contain .p-palette {
  position: relative;
}
body .p-contain .p-res-content .p-color-contain .p-palette .p-palette-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/c_palette.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .p-contain .p-res-content .p-color-contain .p-palette .p-color-selector {
  position: absolute;
  right: 150%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: #ffffff;
  border: 0.4166666667rem solid #ffffff;
  border-radius: 1.0416666667rem;
  box-shadow: 0rem 0.125rem 0.6666666667rem -0.25rem rgba(83, 108, 140, 0.5);
}
body .p-contain .p-res-content .p-color-contain .p-palette .p-color-selector .c-color-item {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  margin: 0.2083333333rem;
  border-radius: 0.8333333333rem;
}
body .p-contain .p-res-content .p-color-contain .p-palette .p-color-selector .c-color-item:hover {
  border: 0.0833333333rem solid #ffffff;
}
body .p-contain .p-res-content .p-choose-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 0.5833333333rem;
  font-family: HannotateSC-W7, HannotateSC;
  font-weight: normal;
  color: #7B7F80;
  line-height: 0.8333333333rem;
}
body .p-contain .p-res-content .p-choose-contain .p-choose-groue {
  display: flex;
}
body .p-contain .p-res-content .p-choose-contain .p-choose-groue .p-c-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5416666667rem;
  height: 1.8333333333rem;
  margin: 0 0.3333333333rem;
  background-image: url(./img/btn_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
body .p-contain .p-res-content .p-choose-contain .p-choose-groue .is-selected {
  color: #17b2ef;
}
body .p-contain .p-res-content .p-choose-contain .p-choose-groue:nth-child(1) {
  margin-right: 1.6666666667rem;
}